body {
	background-color: #87CEEB;

}
h1 {
	font-size: 45px;
	text-align: center;
	color:white;
}
img.displayed {
	display :block;
	margin-left :auto;
	margin-right:auto;

}
.col-centered {
    margin: 0 auto;
    float: none;
}
#MyInput {
	width: 100px;
	height:30px;
}